/*
		dG52 PHP and AJAX Poll software

		Author: Douglas Stridsberg
			Email: doggie52@gmail.com
			URL: www.douglasstridsberg.com
	*/
	
/*********************************
		MAIN STYLES
*********************************/

@import url("reset.css");

body {
	font: 1em Georgia;
	background: #dfd5c5 url('images/tile.gif');
	color: #48433d;
	margin: 0px;
}

.radio {
	background: url('images/radio.png') no-repeat;
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	display: block;
	clear: left;
	float: left;
}

a {
	color: #3f3f3f;
	text-decoration: none;
	font-size: 1.1em;
}
	
	a:hover {
		color: #3d3e59;
	}

/*********************************
		MAIN CONTAINER
*********************************/

.container {
	width: 800px;
	min-height: 500px;
	height: auto;
	margin: auto;
	padding: 0px;
}


/*********************************
		MAIN DIV
*********************************/

.main {
	padding: 25px;
	padding-top: 75px;
}


	.main li {
		list-style-type: none;
		display: block;
	}
	
.flower {
	background: url('images/flower.png') no-repeat;
	height: 77px;
	width: 245px;
	margin:0 auto;
}
	
/*********************************
		ERROR DIV
*********************************/

#error {
	margin: auto;
	color: red;
}


	
/*********************************
		ADMIN PANEL
*********************************/

@font-face {
	font-family: 'MuseoSans500';
	src: url('fonts/MuseoSans_500.eot');
	src: local('Museo Sans'), local('MuseoSans-500'), url('fonts/MuseoSans_500.woff') format('woff'), url('fonts/MuseoSans_500.ttf') format('truetype');
}

@font-face {
	font-family: 'CandelaBook';
	src: url('fonts/CandelaBook.eot');
	src: local('Candela'), local('Candela-Book'), url('fonts/CandelaBook.woff') format('woff'), url('fonts/CandelaBook.ttf') format('truetype'), url('CandelaBook.svg#Candela-Book') format('svg');
}

div.admin-container {
		font-family: MuseoSans500, Georgia, "Times New Roman", Times, serif;
		width: 800px;
		min-height: 500px;
		height: auto;
		margin: auto;
		padding: 0px;
		text-shadow: #f8fcee 0 1px 1px;

	}

div.admin-container h1.header {
	text-align: center;
	color: #698695;
	font: 3em CandelaBook, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}

	/*********************************
			MENU
	*********************************/
	
#menu {
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 2px dashed #a7a7a7;
	border-top: 2px dashed #a7a7a7;
	background: rgba(240,237,235,0.2);
}
	
#menu li {
	display: inline;
	padding: 5px 10px;
	font-size: 1em;
	font-weight: 500;
	text-transform: capitalize;
	-moz-appearance:none;
	-moz-border-radius:5px;
	-moz-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.3), 1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.3), 0 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-sizing:border-box;
	-webkit-appearance:none;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.3), 1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.3), 0 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-sizing:border-box;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.16, rgb(207,207,207)),
    color-stop(0.79, rgb(250,250,250))
);
	background:-moz-linear-gradient(
    center bottom,
    rgb(207,207,207) 16%,
    rgb(250,250,250) 79%
);
	border-color:#FFFFFF rgba(255, 255, 255, 0.5);
	margin: 0 3px;
	-webkit-transition: top 100ms linear;
	-moz-transition: top 100ms linear;
	position: relative;
} 

#menu li:hover {
	top: 3px;
}


	/*********************************
			FORMS
	*********************************/
	td {
	padding: 3.5px;
}

	div.admin-container form {
		margin: 5px auto;
		display: table;
		padding: 10px 10px;
		width: 100%;
	}
	
	div.admin-container form table {
		margin: 0 auto;
}
	
	div.admin-container form .label {
		text-align: right;
		margin-right: 4px;
	}
	
	div.admin-container form input {
		font-family: MuseoSans500, Georgia, "Times New Roman", Times, serif;
		width: 300px;
		padding: 5px;
		font-size: 1em;
		margin: 2px 0;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #a1a1a1;
	}
	
	div.admin-container form input.submit {
		-moz-appearance:none;
		-moz-border-radius:5px;
		-moz-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.3), 1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.5), -1px 0 0 		rgba(0, 0, 0, 0.3), 0 2px 0 rgba(0, 0, 0, 0.15);
		-moz-box-sizing:border-box;
		-webkit-appearance:none;
		-webkit-border-radius:5px;
		-webkit-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.3), 1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.5), -1px 0 		0 rgba(0, 0, 0, 0.3), 0 2px 0 rgba(0, 0, 0, 0.15);
		-moz-box-sizing:border-box;
		background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.16, rgb(207,207,207)),
	    color-stop(0.79, rgb(250,250,250))
		);
		background:-moz-linear-gradient(
	    center bottom,
	    rgb(207,207,207) 16%,
	    rgb(250,250,250) 79%
		);
		border-color:#FFFFFF rgba(255, 255, 255, 0.5);
		border-style:solid;
		border-width:1px;
		color:#52585D;
		cursor:pointer;
		display:inline-block;
		font-size:1em;
		line-height:16px;
		margin:3px 1px;
		min-width:80px;
		overflow:visible;
		padding:3px 10px;
		position:relative;
		text-align:center;
		text-shadow:0 1px 0 #FFFFFF;
		vertical-align:middle;
		white-space:nowrap;
		width:auto;
		float: right;
	}
	
	/*********************************
			LOGIN FORM
	*********************************/
	
	#login {
		background: rgba(240,237,235,0.25);
		border-top: 1px solid rgba(240,237,235,0.6);
		border-bottom: 1px solid rgba(240,237,235,0.6);
	}
	
	
/*********************************
		FOOTER
*********************************/
	
p.status {
	font-size: .85em;
	color: #8e8e8e;
	text-align: right;
}