	/*
		dG52 PHP and AJAX Poll software

		Author: Douglas Stridsberg
			Email: doggie52@gmail.com
			URL: www.douglasstridsberg.com
	*/
	
/*********************************
		MAIN STYLES
*********************************/

body {
	font: 1.5em Georgia;
	background: #dfd5c5 url('../images/tile.gif');
	color: #48433d;
	margin: 0px;
}

.radio {
	background: url('../images/radio.gif') no-repeat;
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	display: block;
	clear: left;
	float: left;
}

/*********************************
		MAIN CONTAINER
*********************************/

.container {
	width: 800px;
	min-height: 500px;
	height: auto;
	margin: auto;
	padding: 0px;
}

/*********************************
		MAIN DIV
*********************************/

.main {
	padding: 25px;
	padding-top: 75px;
}

	.main h2 {
		
	}
	
	.main li {
		list-style-type: none;
		display: inline;
	}
	
	.main a {
		color: grey;
		border-bottom: 1px dashed grey;
		text-decoration: none;
	}
	
	.main a:hover {
		color: grey;
		border-bottom: 1px solid grey;
	}

.flower {
	background: url('../images/flower.png') no-repeat;
	height: 77px;
	margin: auto;
}
	
/*********************************
		ERROR DIV
*********************************/

#error {
	margin: auto;
	color: red;
}